.Calendar {
  width: 100%;
  height: calc(60px + 40px + 5 * 50px);
  background: #2c3e50;
  user-select: none;
}

.Calendar-header {
  height: 60px;
  display: flex;
  background: #000;
}

.Calendar-header__arrow {
  padding: 10px 20px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: inherit;
  border: 0;
  color: #fff;
  outline: none;
  font-family: 'Arial', sans-serif;
}
.Calendar-header__arrow:hover {
  background: #222;
}

.Calendar-header__month {
  width: 100%;
  text-align: center;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Calendar-day-names {
  width: 100%;
  height: 40px;
  display: flex;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  align-items: center;
  color: #2980b9;
}

.Calendar-day-names__day {
  width: calc(100% / 7);
  text-align: center;
  padding: 10px;
}

.Calendar-week {
  width: 100%;
  height: 50px;
  display: flex;
  cursor: pointer;
}

.Calendar-week:not(.Calendar-week--selected):hover {
  background: #354c63;
}

.Calendar-week--selected {
  background: #222;
}

.Calendar-week--green {
  color: #2ecc71;
}

.Calendar-week--yellow {
  color: #f1c40f;
}

.Calendar-week--red {
  color: #c0392b;
}

.Calendar-week__day {
  width: calc(100% / 7);
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
